name: Haskell CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        ghc: ['8.10', '9.0', '9.2', '9.4', '9.6', '9.8', '9.10', '9.12', '9.14']
      fail-fast: false

    steps:
    - uses: actions/checkout@v6
    - uses: haskell-actions/setup@v2
      id: setup-haskell
      with:
        ghc-version: ${{ matrix.ghc }}
    - name: Cache
      uses: actions/cache@v5
      env:
        cache-name: cache-cabal
      with:
        path: |
          ${{ steps.setup-haskell.outputs.cabal-store }}
          dist-newstyle
        key: ${{ runner.os }}-${{ matrix.ghc }}

    - name: Install dependencies
      run: |
        cabal update
        cabal build --only-dependencies --enable-tests --enable-benchmarks
    - name: Build
      run: cabal build --enable-tests --enable-benchmarks all

  build-mhs:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Checkout MicroHs repository
      uses: actions/checkout@v6
      with:
        repository: augustss/MicroHs
        ref: 166fbe20c8b8469852a0a99816cee9ac487e0780
        path: mhs
    - name: Install MicroHs
      run: |
        cd mhs
        make minstall
        echo "$HOME/.mcabal/bin" >> $GITHUB_PATH
    - name: Install dependencies
      run: |
        mcabal install ghc-compat
        mcabal install transformers
        mcabal install --git=https://github.com/ekmett/transformers-compat.git transformers-compat
        mcabal install mtl
    - name: Install mmorph
      run: mcabal install
